.dropdown {
  .active {
    position: relative;
    display: inline-block;
    font-size: 14px;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: url("./images/coolicon.png");
      position: absolute;
      top: -2px;
      right: -20px;
    }
  }
  &__subtitle {
    color: #8792a7;
    font-size: 14px;
    &:hover {
      cursor: pointer;
    }
    position: relative;
    display: inline-block;
    &::before {
      content: url("./images/coolicon\ \(1\).png");
      position: absolute;
      top: -2px;
      right: -20px;
    }
  }
  &__wrapped {
    width: 100px;
    display: block;
    ul#drop_down__nav {
      background: #ffffff;
      width: 100%;
      padding: 4px;
      box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.04);
      display: flex;
      height: 0px;
      overflow: hidden;
      align-items: center;
      flex-direction: column;
      li {
        margin-top: 8px;
        a {
          color: #8792a7;
          font-size: 12px;
        }
      }
    }
    .active {
      padding: 20px;
      transition: 0.4;
      height: 121px !important;
      width: 112px;
    }
  }
}

@media screen and (max-width: 768px) {
  .dropdown {
    #dropdown_id_sub {
      color: #121212;
      font-size: 26px;
    }
    &__wrapped {
      width: 100%;
      ul#drop_down__nav {
        box-shadow: none;
        align-items: flex-start;
        li {
          margin-top: 8px;
          border: none;
          a {
            color: #3d3d3d;
            font-size: 20px;
          }
        }
      }
    }
  }
}
