.call_wrapper {
  text-align: center;
  width: 95px;
  display: inline-block;
  height: 40px;
  border: 1px solid black;
  padding-top: 10px;
  &:hover {
    position: relative;
    z-index: 1;
    .header {
      background: white;
      width: 95px;
      height: 40px;
    }
    .contact {
      background: black;
      color: white;
      width: 211px;
      height: 40px;
    }
    .about {
      background: black;
      color: white;
      width: 200px;
      height: 40px;
    }
    button {
      position: absolute;
      cursor: pointer;
      padding: 5px;
      left: 5px;
      top: -5px;
      z-index: 2;
      border: 1px solid black;
    }
    cursor: pointer;
  }
  button {
    z-index: 1;
    border: none;
    background: none;
  }
}
.about {
  width: 200px;
}
.contact {
  width: 210px;
}

@media screen and (max-width: 768px) {
  .about,
  .contact {
    width: 150px;
  }
}
