.about_us {
  text-align: center;
  margin: 0 auto;
  width: 844px;
  min-height: 360px;
  padding-top: 20px;
  margin-top: 100px;
  position: relative;
  &__img {
    width: 502px;
    height: 10px;
    background: url("./Img/Decor\ \(3\).png");
    margin: 0 auto;
    margin-top: 20px;
  }
  &::after {
    content: url("./Img/Decor\ \(2\).png");
    position: absolute;
    right: 0;
    width: 10px;
    height: 10px;
    bottom: 0;
  }
  &::before {
    content: url("./Img/Decor\ \(1\).png");
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
  }
  &__title {
    color: #121212;
    font-size: 56px;
    margin-top: 26px;
    width: 560px;
    margin: 0 auto;
  }
  &__subtitle {
    color: #018fde;
    font-size: 28px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    margin-top: 18px;
    .info {
      width: 164px;
      font-size: 12px;
      color: #3d3d3d;
    }
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 1205px) {
  .about_us {
    width: 80%;
    height: 438px;
  }
}

@media screen and (max-width: 768px) {
  .about_us {
    width: 80%;
    height: 438px;
    &__wrapper {
      width: 90%;
      justify-content: space-between;
    }
    &__title,
    &__img {
      width: 90%;
    }
    &__subtitle {
      width: 80%;
      margin: 0 auto;
      font-size: 32px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 496px) {
  .about_us {
    height: 200px;
    &__title {
      font-size: 32px;
    }
    &__subtitle {
      font-size: 26px;
    }
  }
}
