header {
  width: 100%;
  background: white;
  height: 88px;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
}
main {
  min-height: 500px;
  position: relative;
  .left_svg,
  .right_svg {
    width: 572px;
    height: 363px;
    background: linear-gradient(
      264.93deg,
      rgba(1, 143, 222, 0.2) 106.76%,
      rgba(1, 143, 222, 0.2) 106.76%
    );
    filter: blur(120px);
    transform: rotate(-150deg) translateX(-50%);
    position: fixed;
    z-index: -1;
    margin-top: -50px;
    margin-left: -25%;
  }
  .right_svg {
    margin-left: 90%;
    margin-top: 200px;
    transform: rotate(-150.45deg) translateX(50%);
  }
}

header.changeZ {
  z-index: 3;
}
@media screen and (max-width: 1440px) {
  main {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  main {
    position: static;
    .left_svg {
      top: 20px;
      left: 100px;
    }
    .right_svg {
      right: -80px;
      margin-top: 200px;
      transform: rotate(-150.45deg) translateX(50%);
    }
    .left_svg,
    .right_svg {
      z-index: 2;
      position: absolute;
      width: 250px;
      height: 150px;
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    .left_svg {
      top: 20px;
      left: 10px;
    }
    .right_svg {
      top: 50px;
    }
  }
}
