.nav_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  .burger {
    display: none;
  }
  nav {
    ul {
      display: flex;
      justify-content: space-between;
      width: 400px;
      li {
        a {
          color: #8792a7;
          font-size: 14px;
          &:hover {
            color: #121212;
          }
        }
        .active {
          color: #121212;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .nav_wrapper {
    position: relative;
    width: 100%;
    .opened__nav {
      min-height: 100vh;
      background: white;
      margin-top: 40px;
      ul {
        li {
          border-bottom: 1px solid #dbdbdb;
          a {
            color: #121212;
            font-size: 26px;
          }
          .active {
            color: #018fde;
          }
        }
      }
    }
    nav {
      position: absolute;
      right: 0;
      width: 100%;
      .droped {
        margin-left: 72px;
        overflow: visible;
        height: 100% !important;
        li {
          margin-top: 40px;
        }
        display: block;
        min-height: 400px;
        background: white;
        padding-top: 30px;
        .burger {
          right: 0;
          top: 0;
        }
      }
      #navigation__ul {
        margin-top: 40px;
        overflow: hidden;
        width: 80%;
        height: 0;
        .burger {
          position: fixed;
          display: table;
          top: 30px;
          width: 28px;
          height: 20px;
          cursor: pointer;
          right: 140px;
          span {
            width: 100%;
            margin-top: 7px;
            background: #121212;
            height: 3px;
            display: block;
          }
        }
      }
    }
  }
}
