.contact_us {
  width: 100%;
  margin-top: 178px;
  padding-bottom: 50px;
  position: relative;
  &__blur {
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 100vh;
    background: linear-gradient(
      264.93deg,
      rgba(1, 143, 222, 0.2) 106.76%,
      rgba(1, 143, 222, 0.2) 106.76%
    );
    filter: blur(70px);
  }
  &__div {
    width: 1088px;
    min-height: 523px;
    background: #ffffff;
    margin: 0 auto;
    padding-top: 72px;
    text-align: center;
  }
  form {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-columns: 312px;
      width: 80%;
      margin: 0 auto;
      #filled-textarea {
        height: 64px !important;
        background: #eef3fc;
      }
      &__button {
        margin-left: 50%;
        transform: translateX(-50%);
      }
      .MuiFormControl-root {
        margin: 20px;
        background: #eef3fc;
      }
      .Mui-focused {
        background: white;
      }
      .last {
        .MuiFilledInput-root {
          background: #eef3fc;
        }
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }
  &__title {
    color: #018fde;
    font-size: 32px;
    span {
      color: #121212;
    }
  }
}

@media screen and (max-width: 1205px) {
  .contact_us {
    &__div {
      width: 80%;
    }
  }
}
@media screen and (max-width: 768px) {
  .contact_us {
    &__div {
      width: 80%;
    }
  }
}
@media screen and (max-width: 768px) {
  .contact_us {
    &__div {
      width: 80%;
    }
  }
}
@media screen and (max-width: 582px) {
  .contact_us {
    form {
      .wrapper {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
