footer {
  height: 400px;
  background: black;
  margin-top: 100px;
  display: table;
  color: #dbdbdb;
  width: 100%;
  .footer__wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 72px;
    .item {
      &:first-child h2 {
        color: #018fde;
      }
      h2 {
        margin-top: 16px;
      }
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .footer__items {
        margin-top: 16px;
        &_flex {
          display: flex;
          justify-content: space-between;
          position: relative;
          margin-left: 40px;
          .left {
            position: absolute;
            left: -40px;
          }
          .right {
            margin-left: 24px;
            span {
              display: block;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer__wrapper {
    flex-wrap: wrap;
    font-size: 14px;
  }
}
@media screen and (max-width: 386px) {
  .footer__wrapper {
    flex-wrap: wrap;
    font-size: 10px;
  }
}
